
@{
    ViewBag.Title = "BilgiGoruntuleme";
    Layout = "~/Views/YoneticiLayout.cshtml";
}
<link href="~/css/Yoneticibilgigoruntuleme.css" rel="stylesheet" />
<div class="bilgikutusu">
    <h2>Öğrenci Bilgileri</h2><br><br>
    <div class="bilgiler">
        <form action="StajYapanOgrenciler">
            <!-- action özelliği tıklandığında yazılan adres sayfasına gitmesini sağlar -->
            <input type="submit" name="" value="Staj Yapan Öğrenciler">
        </form>
        <br>
        <form action="">
            <input type="submit" name="" value="İME Yapan Öğrenciler">
        </form>
        <br>
        <form action="">
            <input type="submit" name="" value="Bilgi Görüntüleme">
        </form>

    </div>

