
@{
    ViewBag.Title = "KullaniciSil";
    Layout = "~/Views/YoneticiLayout.cshtml";
}

<div class="kullanicisilmekutusu">
    <h2>Kullanıcı Bilgilerini Giriniz</h2>
    <div class="bilgiler">

        <form>
            <p>Sicil/Öğrenci Numarası</p>
            <input type="text" name="" placeholder="Sicil/Öğrenci Numarası">

            <input type="submit" name="" value="Kullanıcı Sil">
            <a href="KullaniciIslemleri" class="btn btn-light">Geri</a>
        </form>
    </div>

