
@{
    ViewBag.Title = "KullaniciEkle";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}
<div class="kullanicieklemekutusu">
    <h2>Kullanıcı Bilgilerini Giriniz</h2>
    <div class="bilgiler">

        <form action="/YoneticiPaneli/KullaniciEkle" method="post">
            <p>Sicil/Öğrenci Numarası</p>
            <input type="text" name="" placeholder="Sicil/Öğrenci Numarası">

            <p>Ad</p>
            <input type="text" name="" placeholder="Ad">

            <p>Soyad</p>
            <input type="text" name="" placeholder="Soyad">

            <p>TC Kimlik No</p>
            <input type="number" name="" placeholder="TC Kimlik No">

            <p>E-Mail</p>
            <input type="email" name="" placeholder="E-Mail">

            <p>Bölüm ID</p>
            <input type="number" name="" placeholder="Bölüm ID">

            <p>Bölüm</p>
            <input type="text" name="" placeholder="Bölüm">


            <input type="submit" name="" value="Kullanıcı Ekle">
            <input type="submit" name="" value="Kullanıcı Güncelle">
            <a href="KullaniciIslemleri" class="btn btn-light">Geri</a>
        </form>
    </div>

