
@{
    ViewBag.Title = "KullaniciIslemleri";
    Layout = "~/Views/YoneticiLayout.cshtml";
}
<link href="~/css/Yoneticikullanicieklesil.css" rel="stylesheet" />
<div class="bilgikutusu">
    <h2>Kullanıcı Bilgilerini Giriniz</h2><br><br>
    <div class="bilgiler">

        <form>
            <p>Sicil Numarası</p>
            <input type="text" name="" placeholder="Sicil Numarası">
            <p>Şifre</p>
            <input type="password" name="" placeholder="Şifre">
            <input type="submit" name="" value="Kullanıcı Ekle">
            <input type="submit" name="" value="Kullanıcı Sil">

        </form>
    </div>

