
@{
    ViewBag.Title = "KullaniciGuncelleme";
    Layout = "~/Views/YoneticiLayout.cshtml";
}
<link href="~/css/Yoneticikullaniciguncelleme.css" rel="stylesheet" />
<div class="bilgikutusu">
    <h2>Kullanıcı Bilgilerini Giriniz</h2><br><br>
    <div class="bilgiler">

        <form>
            <p>Sicil Numarası</p>
            <input type="text" name="" placeholder="Sicil Numarası">
            <p>Şifre</p>
            <input type="password" name="" placeholder="Şifre">
            <p>Yeni Şifre</p>
            <input type="password" name="" placeholder="Yeni Şifre">
            <input type="submit" name="" value="Kullanıcı Güncelleme">
        </form>
    </div>

</div>


