
@{
    ViewBag.Title = "KullaniciIslemleri";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<div class="kullaniciislemlerikutusu">
    <h2>Kullanıcı İşlemleri</h2><br>
    <div class="bilgiler">
        <form action="KullaniciEkle">
            <!-- action özelliği tıklandığında yazılan adres sayfasına gitmesini sağlar -->
            <input type="submit" name="" value="Kullanıcı Ekleme">
        </form>
        <br>
        <form action="KullaniciSil">
            <!-- action özelliği tıklandığında yazılan adres sayfasına gitmesini sağlar -->
            <input type="submit" name="" value="Kullanıcı Sil/Güncelle">
        </form>
        <br>
        <form action="RolTanimlama">
            <input type="submit" name="" value="Rol Tanımlama ">
        </form>

    </div>
