
@{
    ViewBag.Title = "OgretmenIslemleri";
    Layout = "~/Views/YoneticiLayout.cshtml";
}

<div class="ogretmenislemlerikutusu">
    <h2>Öğretmen İşlemleri</h2><br>
    <div class="bilgiler">
        <form action="StajGoruntuleme">
            <!-- action özelliği tıklandığında yazılan adres sayfasına gitmesini sağlar -->
            <input type="submit" name="" value="Staj/İME Görüntüleme">
        </form>
        <br>
        <form action="StajDegerlendirme">
            <input type="submit" name="" value="Staj/İME Değerlendirme ">
        </form>


    </div>
