
@{
    ViewBag.Title = "RolTanimlama";
    Layout = "~/Views/YoneticiLayout.cshtml";
}

<div class="kullaniciislemlerikutusu">
    <h2>Rol Tanımlama</h2><br><br>
    <div class="bilgiler">

        <form>
            <p>Tanımlanacak Rolu Seçiniz</p>
            <select>
                <option> </option>
                <option> Yönetici </option>
                <option> Komisyon Üyesi </option>
                <option> Öğretmen </option>
                <option> Öğrenci </option>
            </select>

            <p>Atanacak Kişiyi Seçiniz</p>
            <select>
                <option> </option>
            </select>
        </form>
    </div>
    <td colspan="2">
        <button class="btn btn-info">Rol Ata</button>
        <a href="KullaniciIslemleri" class="btn btn-light">Geri</a>
    </td>

