
@{
    ViewBag.Title = "RolTanimlama";
    Layout = "~/Views/YoneticiLayout.cshtml";
}
<link href="~/css/Yoneticiroltanimlama.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous">

<div class="container text-center mt-3">
    <h2>Yetkilendirme</h2>

    <table align="center" class="table text-white mt-2 text-center col-md-4" style="background-color:grey;">
        <thead>
            <tr>
                <th>
                    <h3>Rol İsmi</h3>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" asp-for="" /> </td>
                <td>
                    <input type="hidden" asp-for="" />
                    <input type="hidden" asp-for="" />
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button class="btn btn-info">Rol Ata</button>
                    <a href="#" class="btn btn-light">Geri</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>