
@{
    ViewBag.Title = "StajGoruntuleme";
    Layout = "~/Views/YoneticiLayout.cshtml";
}

<div class="container col-md-9 pt-5">
    <div style="overflow-x:auto;">
        <table class="table table-striped text-white ">
            <tr style="background-color:grey">
                <th>Evrak No</th>
                <th>Öğrenci Ad-Soyad</th>
                <th>Başlangıç Tarih</th>
                <th>Bitiş Tarih</th>
                <th>Dönem</th>
                <th>Başarı Durumu</th>
                <th>Değerlendiren Öğretmen</th>
                <th>Staj/IME</th>


                <th> </th>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td style="text-align:center"><a href="StajGoruntulemeDetay" class="btn btn-sm btn-success">Detay</a></td>
            </tr>


        </table>
    </div>
</div>

