
@{
    ViewBag.Title = "SıfreDegistir";
    Layout = "~/Views/YoneticiLayout.cshtml";
}

<div class="sifrekutusu">
    <h3>Şifre Yenileme</h3><br><br>
    <form>
        <p>Yeni Şifre:</p>
        <input type="text" name="" placeholder="Yeni Şifre">
        <p>Şifre Tekrar:</p>
        <input type="text" placeholder="Şifre Tekrar">
        <input id="sifreyenile" type="submit" name="" value="Güncelle">
    </form>
</div>