
@{
    ViewBag.Title = "YoneticiSilme";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<div class="yoneticisilmekutusu">
    <h2>Yönetici Bilgilerini Giriniz</h2>
    <div class="bilgiler">

        <form action="/YoneticiPaneli/YoneticiIslemleri" class="form-group" method="post">
            <p>Kullanıcı Adı</p>
            <input type="text" name="id" placeholder="Kullanıcı Adı">

            <input type="submit" name="" value="Yönetici Sil">
            <a href="YoneticiIslemleri" class="btn btn-light">Geri</a>
        </form>
    </div>


