
@{
    ViewBag.Title = "YoneticiEkleme";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<div class="yoneticieklemekutusu">
    <h2>Yönetici Bilgilerini Giriniz</h2>
    <div class="bilgiler">

        <form action="/YoneticiPaneli/YoneticiEkleme" class="form-group" method="post">

            <p>Ad</p>
            <input type="text" name="yonetici_Ad" placeholder="Ad">

            <p>Soyad</p>
            <input type="text" name="yonetici_Soyad" placeholder="Soyad">

            <p>TC Kimlik No</p>
            <input type="text" name="yonetici_TC" placeholder="TC Kimlik No">
            <p>Kullanıcı Adı</p>
            <input type="text" name="yonetici_kullaniciAdi" placeholder="Kullanıcı Adı">
            <p>E-Mail</p>
            <input type="text" name="yonetici_mail" placeholder="E-Mail">

            <input type="submit" name="" value="Yönetici Ekle">

            <a href="YoneticiIslemleri" class="btn btn-light">Geri</a>
        </form>
    </div>
