
@{
    ViewBag.Title = "YoneticiSilme";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<div class="yoneticisilmekutusu">
    <h2>Yönetici Bilgilerini Giriniz</h2>
    <div class="bilgiler">

        <form>
            <p>Sicil Numarası</p>
            <input type="text" name="" placeholder="Sicil Numarası">

            <p>Şifre</p>
            <input type="password" name="" placeholder="Şifre">

            <input type="submit" name="" value="Yönetici Sil">
            <a href="YoneticiIslemleri" class="btn btn-light">Geri</a>
        </form>
    </div>


