
@{
    ViewBag.Title = "YoneticiIslemleri";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<div class="yoneticiislemlerikutusu">
    <h2>Yönetici İşlemleri</h2><br>
    <div class="bilgiler">
        <form action="YoneticiEkleme">
            <!-- action özelliği tıklandığında yazılan adres sayfasına gitmesini sağlar -->
            <input type="submit" name="" value="Yönetici Ekleme">
        </form>
        <br>
        <form action="YoneticiSilme">
            <!-- action özelliği tıklandığında yazılan adres sayfasına gitmesini sağlar -->
            <input type="submit" name="" value="Yönetici Silme">
        </form>
        <br>

    </div>
