
@{
    ViewBag.Title = "YoneticiEkleme";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<div class="yoneticieklemekutusu">
    <h2>Yönetici Bilgilerini Giriniz</h2>
    <div class="bilgiler">

        <form>
            <p>Sicil Numarası Giriniz</p>
            <input type="number" name="" placeholder="Sicil Numarası">

            <p>Ad</p>
            <input type="text" name="" placeholder="Ad">

            <p>Soyad</p>
            <input type="text" name="" placeholder="Soyad">

            <p>TC Kimlik No</p>
            <input type="number" name="" placeholder="TC Kimlik No">

            <p>E-Mail</p>
            <input type="email" name="" placeholder="E-Mail">

            <input type="submit" name="" value="Yönetici Ekle">

            <a href="YoneticiIslemleri" class="btn btn-light">Geri</a>
        </form>
    </div>
