
@{
    ViewBag.Title = "SifreDegistir";
    Layout = "~/Views/Shared/OgretmenLayout.cshtml";
}

<div class="giriskutusu">
    <h3>Şifre Yenileme</h3>
    <form>
        <p>Yeni Şifre:</p>
        <input type="text" name="" placeholder="Yeni Şifre">
        <p>Şifre Tekrar:</p>
        <input type="text" placeholder="Şifre Tekrar">
        <input id="sifreyenile" type="submit" name="" value="Güncelle">
    </form>
</div>