* {
    /* Önceden ayarlanmış ayarları sıfırlamak için */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-image: linear-gradient(45deg, rgb(139, 129, 129), rgb(123, 189, 93));
}

.header {
    background-color: #000;
    height: 88px;
}

.header img {
    padding-top: 1mm;
    float: left;
    margin-left: 20mm;
    width: 80px;
    height: 80px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.header h2 {
    padding-top: 2.9mm;
    padding-left: 150px;
    color: #fff;
    position: absolute;
    top: 18px;
    left: 10px;
}

.header h3 {
    padding-top: 2rem;
    color: #fff;
    position: relative;
    padding-right: 60px;
    text-align: right;
}


.center {
    text-align: center;
}

/* NAVIGATION */
nav {
    width: 100%;
    margin: 0 auto;
    background: #f1f2f6;
    padding: 2px 0;
    box-shadow: 0px 5px 0px #dfe4ea;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: rgb(85, 85, 85);
}

.duyurukutusu {
    width: 700px;
    height: 550px;
    background: #000;
    color: #fff;
    top: 62%;
    left: 27%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 30px;
    /* Köşelerin yuvarlak olması için*/
    padding: 25px 20px;
    text-align: center;
}

.bilgikutusu {
    width: 600px;
    height: 350px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 74%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 30px;
    /* Köşelerin yuvarlak olması için*/
    padding: 25px 20px;
    text-align: center;
}

.sosyalmedyakutusu {
    width: 600px;
    height: 165px;
    background: #000;
    color: #fff;
    top: 85%;
    left: 74%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 30px;
    /* Köşelerin yuvarlak olması için*/
    padding: 19px 12px;
    text-align: center;
}

.bilgiler input {
    width: 100%;
    margin-bottom: 20px;
}

.bilgiler input[type="submit"] {
    border: none;
    outline: none;
    height: 50px;
    background: green;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
}


.bilgiler input[type="submit"]:hover {
    /*Fare üzerine geldiğinde olacak değişklikler için hover özelliğini kullanıyoruz.*/
    cursor: pointer;
    background: #fff;
    color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.social-links {
  display: flex;
}

.social-links a {
  width: 600px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  background: rgb(0, 0, 0);
  color: #fff;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  margin: 0 30px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.social-links a .fab {
  font-size: 30px;
  line-height: 80px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}

.social-links a::after {
  content: '';
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: #000;
  background: green;
  position: absolute;
  transition: 0.5s;
}

.social-links a:hover::after {
  top: 0;
}

.social-links a:hover .fab {
  color: #fff;
}

.social-links a:hover {
  transform: translateY(-10px);
}