
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kocaeli Üniversitesi Staj/İME Takip ve Değerlendirme Sistemi</title>
    <link href="~/css/ogrencianasayfa.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <img src="https://www.freelogovectors.net/wp-content/uploads/2018/03/kocaeli-universitesi-logo.png">
        <h2>Kocaeli Üniversitesi / Öğrenci Paneli</h2>
        <h3>Staj/İme Takip ve Değerlendirme Sistemi</h3>
    </div>

    <section style="background: #2f3542; color: #fff;">
        <nav class="stroke">
            <ul>
                <li><a href="~/OgrenciPanel/Anasayfa">Anasayfa</a></li>
                <li><a href="~/OgrenciPanel/BilgiGoruntule">Bilgi Görüntüleme</a></li>
                <li><a href="~/OgrenciPanel/StajBilgileri">Staj Evrak İşlemleri</a></li>
                <li><a href="~/OgrenciPanel/ImeBilgileri">İME Evrak İşlemleri</a></li>
                <li><a href="~/OgrenciPanel/SifreDegistir">Şifre Değiştirme</a></li>
                <li><a href="~/Home/Index">Çıkış Yap</a></li>
            </ul>
        </nav>
    </section>
    @RenderBody()
</body>
</html>