
@{
    ViewBag.Title = "BilgiGoruntule";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}

    <div class="ogrbilgikutusu">
        <h2>Bilgiler</h2><br>
        <div class="bilgiler">
            <form action="StajBilgileri">
                <!-- action özelliği tıklandığında yazılan adres sayfasına gitmesini sağlar -->
                <input type="submit" name="" value="Staj Bilgilerim">
            </form>
            <br>
            <form action="ImeBilgileri">
                <input type="submit" name="" value="İME Bilgilerim">
            </form>

        </div>

