
@{
    ViewBag.Title = "ImeBilgileri";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}

<div class="imebilgikutusu">
    <h3>İME Durumum:</h3><p>Durum Kontrol</p>
    <br>
    <button style="width:100px; margin-left: 40%; margin-top: 10%;" class="pb-lg-1"><a href="BilgiGoruntule">Geri</a></button>
</div>

