
@{
    ViewBag.Title = "Stajİsleri";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}

<div class="dosyakutusu">

    <h4 class="pb-2">
        Giriş sayfasındaki <a href="~/Home/Izlence">Staj İzlence</a> kısmından indirdiğiniz dosyaları isterlere
        uygun şekilde doldurduktan sonra aşağıda belirtilen alana yükleyiniz.
    </h4>
    @using (Html.BeginForm("Stajİsleri", "OgrenciPanel", FormMethod.Post, new { enctype = "multipart/from-data" }))
    {
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="files" id="file1" multiple />
            <button style="width:100px;" class="pb-lg-1" type="submit">Yükle</button>
        </form>
    }
</div>