
@{
    ViewBag.Title = "Stajİsleri";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="dosyakutusu">

    <h4 class="pb-2">
        Giriş sayfasındaki <a href="~/Home/Izlence">Staj İzlence</a> kısmından indirdiğiniz dosyaları isterlere
        uygun şekilde doldurduktan sonra aşağıda belirtilen alana yükleyiniz.
    </h4>



    <form action="/OgrenciPanel/Stajİsleri " method="post" enctype="multipart/form-data">
        <input type="file" name="imgFile" id="imgFile" multiple />
       
        <button style="width:100px;" id="buton" class="pb-lg-1" type="submit">Yükle</button>
    </form>

    <script>

        $('#buton').click(function () {
            alert('Dosyanız başarıyla kaydedilmiştir!');
        });
    </script>

    @if (TempData["imgFile"] != null)
    {
        <ul>
            @foreach (string file in (string[])TempData["imgFile"])
            {
                <li>@file</li>
            }
        </ul>
    }



</div>