
@{
    ViewBag.Title = "StajBilgileri";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}

<div class="stajbilgikutusu">
    <h3>Staj 1 Durumum:</h3><p>Durum Kontrol</p>
    <br><br>
    <h3>Staj 2 Durumum:</h3><p>Durum Kontrol</p>
    <br><br>
    <button style="width:100px; margin-bottom: 0%; margin-left:40% ;" class="pb-lg-1"><a href="BilgiGoruntule">Geri</a></button>
</div>

