
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kocaeli Üniversitesi Staj/İME Takip ve Değerlendirme Sistemi</title>
    <link href="~/css/giris.css" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <img src="https://www.freelogovectors.net/wp-content/uploads/2018/03/kocaeli-universitesi-logo.png">
        <h2>Kocaeli Üniversitesi</h2>
        <h3>Staj/İme Takip ve Değerlendirme Sistemi</h3>
    </div>
    <br>

    <div class="stajizlence">
        <img src="~/img/Staj_Akis_Semasi.jpg" />

        <p class="pstaj">
            <font color=#000><strong>Staj Aşamaları ve Belgeleri</strong></font>
        </p>
        <br><br>
        <p class="pstaj">
            <font color="red"><strong>Staja Başlamadan Önce Yapılacaklar:</strong></font>
        </p>

        <p class="pstaj">1) Öğrenci staj yeri bulacaktır. Staj yeri bulma sorumluluğu öğrenciye aittir.</p>

        <p class="pstaj">
            2) Öğrenci staj yapacağı işyerine <strong>Staj Formunu (EK-16)'yı doldurup</strong> kaşeletip
            imzalatacaktır.
            (EK-16 bilgisayar ortamında da doldurulabilir.)
        </p>

        <p class="pstaj">
            3) Öğrenci tarafından <font color="red"><strong>eksiksiz doldurulacak</strong></font>
            <strong>
                Staj Formu
                (EK-16)
            </strong> ilgili bölümünün staj komisyonu danışmanıtarafından da imzalanacaktır.
        </p>

        <p class="pstaj">
            * Sağlık yardım statüsü (1- Genel Sağlık sigortası kapsamındayım 2- Anne-Baba üzerinden sağlık
            yardımı
            almaktayım 3- Sosyal Sigortalar Kurumu’na tabi olarak çalıştığımdan kendi sağlık yardımım var 4- Bağ-Kur’a
            tabi olarak çalıştığımdan kendi sağlık yardımım var 5- Emekli Sandığı’na tabi olarak çalıştığımdan kendi
            sağlık yardımım var 6- Herhangi bir sosyal güvencem olmadığından sağlık yardımı alamıyorum) kapsamında
            bulunan kutucukları mutlaka işaretleyiniz.
        </p>

        <p class="pstaj">
            ** Ücret Alıyormu (Firma tarafından ücret ödeniyorsa Katkı Payı Formunun EK-18 doldurulması
            zorunludur.)
            kapsamında bulunan kutucukları mutlaka işaretleyiniz.
        </p>

        <p class="pstaj">
            4) <strong>
                Staj Formunu (EK-16)'yı doldurup ilgili bölümün staj komisyonuna iletilmeden SGK
                evrağınız ( İşe
                Giriş Bildirgesi) verilemez.
        </p>

        <p class="pstaj">SGK Belgesi</strong> 30 gün öncesinden çıkmamaktadır.</p>

        <p class="pstaj">
            <font color="red"><strong>Örnek:</strong></font> Stajına 01 Temmuz’da başlayan bir öğrenci, <strong>
                SGK
                Belgesi'ni
            </strong> en erken 02 Haziran’da alabilmektedir.
        </p>

        <p class="pstaj">
            5) Staj Evraklarını (Staj Sicil Fişi ve Staj Defteri) tümü Dekanlık kantin ve kırtasiyelerinden
            veya Fakülte
            web sayfasından temin edilebilirsiniz.
        </p>

        <p class="pstaj">
            6) Öğrenci <font color="red"><strong>staja başlamadan önce</strong></font>, <strong>
                Sigortalı
                İşe Giriş
                Bildirgesi'ni (SGK Belgesi'ni)
            </strong> işyerine teslim etmek üzere bölümden e-posta yoluyla veya
            e-devletten (<font color="red"><strong>4A İşe Giriş Bildirgesi </font></strong>şeklinde aratarak) temin
            edebilir.
        </p>

        <p class="pstaj">
            7) Stajını İPTAL etmek isteyen yada kabul olmayan öğrencilerin ilgili bölüm staj komisyonuna en
            erken 1 (bir)
            hafta öncesinden Staj İptal dilekçesi vermesi gerekmektedir. Aksi halde işlem yapılamaz.
        </p>

        <p class="pstaj">
            8) Yurt dışında yapılacak stajlar için SGK girişi yapılamaz. (ilgili bölümünüzün staj
            komisyonuna danışınız)
        </p>

        <p class="pstaj">
            <font color="red"><strong>Staj Esnasında Yapılacaklar:</strong></font>
        </p>

        <p class="pstaj">Öğrenci <strong>Staj Defteri'ni</strong> günlük olarak dolduracaktır.</p>

        <p class="pstaj">
            <font color="red"><strong>Staj Bitiminde Yapılacaklar:</strong></font>
        </p>

        <p class="pstaj">
            1) Staj sonucunda <strong>Staj Sicil Fişi</strong> firma yetkilisi tarafından
            değerlendirildikten sonra,
            kapalı bir zarf içinde öğrenci ilgili bölümünün staj komisyonu danışmanına iletilmesi sağlanacaktır.
        </p>

        <p class="pstaj">
            2) Fakülte web sayfasında (http://mf.kocaeli.edu.tr/staj.php) mevcut olan <strong>
                Staj
                Defteri'ni
            </strong>
            öğrencilerimiz el yazısıyla kendileri doldurabildiği gibi, bölümün isteği doğrultusunda, ilgili bölümünün
            staj komisyonu danışman görüşü alınarak bilgisayar çıktısı olarak da düzenleyebilirler.
        </p>

        <p class="pstaj">
            3) Öğrenci staj bitişinden sonraki 2 hafta içinde <strong>
                Staj Sicil Fişi ve Staj
                Defteri’ni
            </strong>
            bölümünün Staj Komisyonuna teslim edecektir.
        </p>
        <p class="pstaj">
            4) <font color="red"><strong>İlgili Bölüm Staj Komisyonu Danışmanı</strong></font> uygun
            gördükten sonra
            öğrenci, <font color="red"><strong>staj bittikten sonra </strong></font> <strong>
                Staj Sicil Fişi ve Staj
                Defteri’
            </strong>ne resimlerini (dijital olarak da basılabilir) önceden yapıştırıp Staj (SGK) Bürosu’na
            <strong>mühürletecektir.</strong> (resim olmayan evraklarınız mühürlenemez)
        </p>
        <p class="pstaj">
            Bölümler arasında staj esasları farklılık gösterebilir; her öğrenci kendi bölüm staj esaslarına
            tabidir.
            <strong>(bilgi için; ilgili bölümün staj komisyonuna danışınız)</strong>
        </p>

        <p class="pstaj">
            <font color="red"><strong>Staj Yaptıkları Firmadan Ücret Alan Öğrenciler:</strong></font>
        </p>

        <p class="pstaj">
            EK-16 formunda bulunan <strong>‘Ücret Alıyormu’</strong> bölümü <strong>EVET</strong> ise EK-18
            formunun
            doldurulması zorunludur. Ücret alan stajyer öğrenciler, stajları bittiğinde <strong>
                EK-18 ‘Staj Ücretlerine
                İşsizlik Fonu Katkısı Bilgi Formunu’
            </strong> ve ekine ücret ödendiğini gösterir belgeyi (dekont) bölüm
            staj komisyonuna iletmelidir. Form’un ekinde dekont olmaması durumunda ödeme yapılamayacaktır.
        </p>

        <p class="pstaj">
            Not: Kamu kurum ve kuruluşları bu kapsam dışında olup; Kamu kurum ve kuruluşlarında staj yapan
            öğrencilerin
            EK-18 formunun doldurulmasına gerek yoktur.
        </p>

    </div>
    <br><br>
    <hr><br><br>
    <table cellpadding="0" cellspacing="0" class="">
        <div class="stajtable">
            <h3>Staj Belgeleri</h3> <br>
            <h4>İndirilecek Dosyalar</h4>


            <a href="http://mf.kocaeli.edu.tr/dosyalar/matbu-evraklar/Staj_Yonergesi.pdf" class="pstaj">
                Staj
                Yönergesi
            </a> <br>

            <a href="http://mf.kocaeli.edu.tr/dosyalar/matbu-evraklar/EK-16.docx" class="pstaj">Staj Formu (EK-16)</a>
            <br>

            <a href="http://mf.kocaeli.edu.tr/dosyalar/staj/EK_16_Ing.doc" class="pstaj">
                İngilizce Staj Formu
                (EK-16)
            </a> <br>

            <a href="http://mf.kocaeli.edu.tr/dosyalar/staj/Staj_Sicil_Fisi.doc" class="pstaj">Staj Sicil Fişi</a> <br>

            <a href="http://mf.kocaeli.edu.tr/dosyalar/staj/Staj_Defteri.doc" class="pstaj">Staj Defteri</a> <br>

            <a href="http://mf.kocaeli.edu.tr/dosyalar/staj/SGK_Belgesi_Ornegi.pdf" class="pstaj">SGK Belgesi Örneği</a>
            <br>

            <a href="http://mf.kocaeli.edu.tr/dosyalar/staj/EK-17.xlsx" class="pstaj">Staj Başvuru Listesi (EK-17)</a>
            <br>

            <a href="http://mf.kocaeli.edu.tr/dosyalar/staj/Devlet_Katkisi_Formu.docx" class="pstaj">
                Devlet Katkısı
                Formu (EK-18)
            </a> <br>

        </div>
    </table>
</body>

</html>